<div class="container-fluid">
  <h1>Coupon Admin Page</h1>
  <div class="row mb-3">
    <div class="col-md-8">
      <input type="text"
             class="form-control search-input" placeholder="Search coupons"
             [(ngModel)]="keyword">
    </div>
    <div class="col-md-4">
      <button nz-button nzType="dashed" class="btn btn-primary" (click)="searchCoupons()">
        <span nz-icon nzType="search"></span>
        Search
      </button>
      <button nz-button nzType="dashed" class="btn btn-primary" style="margin-left: 10px;">
        Create
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Discount Value</th>
      <td>Discount Type</td>
      <th>Expiration Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coupon of coupons">
      <td>
        {{ coupon.id }}</td>
      <td>{{ coupon.code }}</td>
      <td>
        {{ coupon.discount_value }}
      </td>
      <td>
        {{coupon.discount_type}}
      </td>
      <td>
        {{ coupon.expiration_date | date : 'dd/MM/yyyy'}}
      </td>
      <td *ngIf="coupon.expiration_date >= today">
        <span class="text-primary">Active</span>
      </td>
      <td *ngIf="coupon.expiration_date < today">
        <span class="text-danger"><del>Expired</del></span>
      </td>
      <td>
        <div style="display: flex; gap: 10px;">
          <button
            class="btn btn-primary">
            View Details
          </button>
          <button class="btn btn-danger"
          >Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" *ngIf="currentPage > 0">
          <a class="page-link"
             (click)="onPageChange(0)">First</a>
        </li>
        <li class="page-item" *ngIf="currentPage > 0">
          <a class="page-link"
             (click)="onPageChange(currentPage-1)">Previous</a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
          <li class="page-item" [ngClass]="{'active': page === currentPage +1}">
            <a class="page-link" (click)="onPageChange(page-1)">{{ page }}</a>
          </li>
        </ng-container>
        <li class="page-item" *ngIf="currentPage + 1 < totalPages">
          <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" *ngIf="currentPage +  1< totalPages">
          <a class="page-link" (click)="onPageChange(totalPages-1)">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
