@import '../../styles/shared-styles.scss';

.intro-section {
  text-align: center;
  color: white;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.product-category {
  width: 200px;
}

.search-input {
  width: 300px;
  background-color: rgb(19, 23, 42);
  margin-right: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.form-control {
  background-color: transparent;
  color: white;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-name {
  color: white;
}

.product-description {
  color: rgb(173, 178, 203);
}

.product-warranty {
  color: rgb(233, 66, 178);
}

.product-price {
  color: white;
}

.product-rating {
  color: #FFD700;
  margin-top: 10px;
}

.product-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.space-x {
  margin: 0 5px;
  /*margin-top, margin-right, margin-bottom, margin-left*/
}

.page-number {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 2px;
  border-radius: 3px;
}

.page-number.active {
  background-color: rgb(127, 68, 255) !important;
  color: #fff;
  border-color: rgb(127, 68, 255) !important;
}
.btn-primary {
  background-color: rgb(127, 68, 255);
  border-color: rgb(127, 68, 255);
}
.btn.btn-primary {
  margin-left: 10px;
}
.category-list{
  color: black;
}
app-footer {
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}
.product-item .product-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
