<div class="container-fluid">
  <h1>Order Admin Page</h1>
  <div class="row mb-3">
    <div class="col-md-8">
      <input type="text"
             class="form-control search-input" placeholder="Search order"
             [(ngModel)]="keyword">
    </div>
    <div class="col-md-4">
      <button nz-button nzType="dashed" class="btn btn-primary" (click)="searchOrders()">
        <span nz-icon nzType="search"></span>
        Search
      </button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Note</th>
      <th>Order Date</th>
      <th>Status</th>
      <th>Total Money</th>
      <!--
      <th>Shipping Method</th>
      <th>Shipping Address</th>

        <th>Shipping Date</th>
      <th>Payment Method</th>
      -->
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>
        {{ order.id }}</td>
      <td>{{ order.user_id }}</td>
      <td>{{ order.fullname }}</td>
      <td>{{ order.email }}</td>
      <td>{{ order.phone_number }}</td>
      <td>{{ order.address }}</td>
      <td>{{ order.note }}</td>
      <td>{{ order.order_date | date }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.total_money }}</td>
      <!--
      <td>{{ order.shipping_method }}</td>
      <td>{{ order.shipping_address }}</td>

      <td>{{ order.shipping_date | date }}</td>
      <td>{{ order.payment_method }}</td>
      -->
      <td>
        <div style="display: flex; gap: 10px;">
          <button nz-button nzType="primary" class="btn btn-primary" (click)="viewDetails(order)">View Details</button>
          <button class="btn btn-danger"
                  *ngIf="order.active"
                  (click)="deleteOrder(order.id)"
          >Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 0">
        <a class="page-link"
           (click)="onPageChange(0)">First</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 0">
        <a class="page-link"
           (click)="onPageChange(currentPage-1)">Previous</a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{'active': page === currentPage +1}">
          <a class="page-link" (click)="onPageChange(page-1)">{{ page }}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage + 1 < totalPages">
        <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="currentPage +  1< totalPages">
        <a class="page-link" (click)="onPageChange(totalPages-1)">Last</a>
      </li>
    </ul>
  </nav>
</div>
</div>
