
.intro-section {
  text-align: center;
  color: white;
  padding: 20px;
}
.product-item{
  color: white;
}
.thumbnail-control{
  width: 100px;
  height: auto;
}
.table {

}
.control-table {
  background-color: rgb(127, 68, 255);
}
