$shopapp-color: rgb(127, 68, 255);
$shopapp-tint-color: rgb(233, 66, 178);
$shopapp-background-color: rgb(19, 23, 42);
$shopapp-title-color: rgb(105, 244, 181);
button[nz-button]{
  margin-right: 8px;
  margin-bottom: 12px;
}
