@import "../../styles/shared-styles.scss";


.container {
    color: white;
    height: 100%;
}
.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}

.product-header {
    color: $shopapp-tint-color;
}
.form-control {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: white;
}

.form-control:focus {
    border-color: white;
    background-color: $shopapp-background-color;
}
.form-label {
    color: white;
}
.product-header {
    color: $shopapp-tint-color;
}
.product-order {
    color: $shopapp-title-color;
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: $shopapp-background-color;
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
    color: white;
    border-radius: 30px;
    width: 200px;
  }
.h1{
  color: white !important;
}
app-footer {
  flex-shrink: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
