@import "../../styles/shared-styles.scss";

.container {
    color: white;
    height: 100vh;
}
.login-form {
    background-color: $shopapp-background-color;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32, 34, 60);
    align-items: center;
    justify-content: center;
}
.login-header {
    text-align: center;
    color: $shopapp-title-color;
    margin-bottom: 20px;
}
.form-control {
    background-color: transparent;
    border: none;
    color: white;
}
.form-control:focus {
    color: white;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

.divider-nospace {
    border-top: 1px solid white;
}

.password-field {
    position: relative;
}
.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $shopapp-title-color;
    cursor: pointer;
}
.checkbox-text {
    color: rgb(243, 165, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: $shopapp-tint-color;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: $shopapp-title-color;
    text-decoration: none;
}
.access-right {
    margin-top: 20px;
    width: 200px;
    color: white;
    background-color: $shopapp-background-color !important;
    border: 1px solid $shopapp-tint-color;
}

.access-right:focus {
    border: 1px solid $shopapp-tint-color;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(243, 165, 42, 0.4);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(243, 165, 42, 0.4);
}

.login-button {
    background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}
.divider {
    height: 1px;
    background-color: rgb(243, 165, 42);
    /* background-color: rgb(105, 244, 181) */
    margin: 20px;
}
