
.container {
    color: white;
}
.confirmation-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: white;
    margin-right: 10px;
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid white;
    border-spacing: 0;
    background-color: rgb(12, 13, 54);
}

th,
td {
    padding: 10px;
    text-align: center;
}
.btn-gradient {
    background: linear-gradient(to right, rgb(233, 66, 178), rgb(127, 68, 255));
    color: white;
    border-radius: 30px;
    width: 200px;
}
.product-info .product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
form {
  margin-bottom: 100px;
}
