<!-- <app-header></app-header> -->
<div class="container">
<form #registerForm="ngForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="register-form mx-auto">
                <h2 class="register-header">Register form</h2>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="phoneNumber"
                           (input)="onPhoneChange()"
                           (focus)="validatePhoneNumber(); registerForm.form.markAsTouched()"
                           name="phoneNumber"
                           required
                           id="phoneNumber">
                    <div class="divider-nospace"></div>
                  <p class="text-danger"
                  *ngIf="phoneNumber.length<6
                        && registerForm.form.touched">
                    Phone number size must be greater than 6
                  </p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="password">Password</label>
                    <input type="password"
                           [(ngModel)]="password"
                           name="password"
                           required
                           placeholder="Ít nhất 3 ký tự"
                        class="form-control" id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                  <p class="text-danger"
                        *ngIf="password.length<3
                              && registerForm.form.touched">
                    Password size must be greater than 3
                  </p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="retype-password">Retype password</label>
                    <input type="password"
                           [(ngModel)]="retypePassword"
                           (input)="registerForm.form.markAsTouched(); checkPasswordMatch()"
                           required
                           name="retypePassword"
                           placeholder="Ít nhất 3 ký tự"
                        class="form-control" id="retype-password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                  <p class="text-danger"
                     *ngIf="retypePassword.length<3
                              && registerForm.form.touched">
                    Retype password size must be greater than 3
                  </p>
                  <p class="text-danger"
                    *ngIf="registerForm.controls['retypePassword']?.hasError('passwordMismatch')
                                  && registerForm.form.touched">
                    Password and retype password is not match
                  </p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group">
                    <label for="full-name">Full name</label>
                    <input type="text"
                           [(ngModel)]="fullName"
                           required
                           name="fullName"
                           class="form-control" id="full-name">
                    <div class="divider-nospace"></div>
                </div>
              <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <input type="date"
                       [(ngModel)]="dateOfBirth"
                       (input)="registerForm.form.markAsTouched(); checkAge()"
                       required
                       name="dateOfBirth"
                       class="form-control" id="dateOfBirth">
                <div class="divider-nospace"></div>
                <p class="text-danger"
                    *ngIf="registerForm.form.controls['dateOfBirth']?.hasError('invalidAge')
                        && registerForm.form.touched">
                  You haven't enough 18 years old, you can not register an account
                </p>
              </div>
                <div class="mt-3"></div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text"
                           [(ngModel)]="address"
                           name="address"
                           class="form-control" id="address">
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox"
                                   [(ngModel)]="isAccepted"
                                   name="isAccepted"
                                   class="form-check-input" id="agree">
                            <label class="form-check-label text-start" for="agree">
                                I accepted with all terms and privacy</label>
                        </span>
                    </div>
                  <p class="text-danger"
                     *ngIf="registerForm.form.controls['isAccepted']?.hasError('invalidTerms')
                                        && registerForm.form.touched ">
                    You must accept all of terms which was created by our company
                  </p>
                </div>
                <button type="button"
                        (click) ="register()"
                        (focus)="checkAcceptedTerms()"
                        class="register-button">Register</button>
                <div class="divider"></div>
                <p class="text-center">You don't have account? <span>
                    <a routerLink="/login" class="register-link">Login</a></span></p>
            </div>
        </div>
    </div>
</form>
</div>
<app-footer></app-footer>
