<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1 style="color: white">This is a page about detail product</h1>
        <p>Using Bootstrap library</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div
                    *ngFor="let image of product?.product_images; let i = index"
                    class="carousel-item" [ngClass]="{'active': i === currentImageIndex}">
                      <div class="square-image">
                          <img [src]="image.image_url" class="product-image" alt="Product Image">
                      </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
                (click)="previousImage()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
                (click)="nextImage()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    <div class="thumbnail-item"
                      *ngFor="let image of product?.product_images; let i = index"
                    [ngClass]="{'active': i === currentImageIndex}"
                    (click)="thumbnailClick(i)">
                      <img [src]="image.image_url" class="thumbnail-image" alt="Thumbnail Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2 style="color: white">{{ product?.name }}</h2>
                <p>{{ product?.description }}</p>
                <p>$ {{ product?.price }}</p>
                <div class="product-actions">
                    <button class="btn btn-primary" (click)="addToCart()">Add to cart</button>
                    <button class="btn btn-success" (click)="buyNow()">Buy now</button>
                </div>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button (click)="decreaseQuantity()">-</button>
                        <input type="text" [value]="quantity">
                        <button (click)="increaseQuantity()">+</button>
                    </div>
                </div>
              <hr>
              <div class="container-fluid" *ngIf="formComment">
                <form (ngSubmit)="submitComment()">
                  <div class="form-group">
                    <label for="comment_content">Comment:</label>
                    <textarea class="form-control" id="comment_content" name="comment_content" [(ngModel)]="this.createComment.comment_content"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Rating:</label>
                    <div class="rating">
                      <span class="fa fa-star" [class.checked]="this.createComment.rating>=1" (click)="setRating(1)"></span>
                      <span class="fa fa-star" [class.checked]="this.createComment.rating>=2" (click)="setRating(2)"></span>
                      <span class="fa fa-star" [class.checked]="this.createComment.rating>=3" (click)="setRating(3)"></span>
                      <span class="fa fa-star" [class.checked]="this.createComment.rating>=4" (click)="setRating(4)"></span>
                      <span class="fa fa-star" [class.checked]="this.createComment.rating>=5" (click)="setRating(5)"></span>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
                </form>
              </div>
              <div class="container-fluid">
                <div class="comment" *ngFor="let comment of comments">
                  <div class="comment-header">
                    <h4 *ngIf="comment.user_id!==this.userId">{{ comment.fullname }}</h4>
                    <h4 *ngIf="comment.user_id=== this.userId">{{ comment.fullname }} <span style="color: red">(Me)</span></h4>
                    <span class="comment-date">{{ comment.created_at | date:'dd/MM/yyyy, HH:mm:ss' }}</span>
                  </div>
                  <p class="comment-content">{{ comment.comment_content }}</p>
                  <div class="rating-star">
                    <span class="fa fa-star" *ngFor="let i of getStarArray(comment.rating)"></span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
