<app-header></app-header>

<form [formGroup]="changesPasswordForm" #passwordForm="ngForm">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <h2 class="product-header">Customer</h2>
      <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password"
               formControlName="old_password"
               name="old_password"
               class="form-control" id="old_password">
        <p class="text-danger"
           *ngIf="passwordForm.form.touched
         && changesPasswordForm.get('old_password')?.value.length < 3">
          Old password size must be greater than 3
        </p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password"
               formControlName="password"
               name="password"
               class="form-control" id="password">
        <p class="text-danger"
           *ngIf="passwordForm.form.touched
         && changesPasswordForm.get('password')?.value.length < 3">
          Password size must be greater than 3
        </p>
      </div>
      <div class="mb-3">
        <label for="retype_password" class="form-label">Retype Password</label>
        <input type="password"
               formControlName="retype_password"
               name="retype_password"
               class="form-control" id="retype_password">
        <p class="text-danger"
           *ngIf="passwordForm.form.touched
         && changesPasswordForm.get('retype_password')?.value.length < 3">
          Retype password size must be greater than 3
        </p>
        <p class="text-danger"
           *ngIf="passwordForm.form.touched
         && changesPasswordForm.get('retype_password')?.value.length >= 3
          && changesPasswordForm.get('password')?.value.length >=3
          && changesPasswordForm.get('password')?.value != changesPasswordForm.get('retype_password')?.value">
          Password and Retype password does not match
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <button type="submit" class="btn btn-primary" (click)="changesPassword()">Save Changes</button>
    </div>
  </div>
</form>

<app-footer></app-footer>
